.paginator {
    margin:  10px;
    display: flex;
    justify-content: space-between;
}

.pageNumber{
    padding: 5px;
    border: 2px solid #266969;
    font-size: 17px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.btnLeft{
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color:  #7f7fff;
}

.btnRight{
    padding: 5px 20px;
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color:  #7f7fff;
}