.header {
    display: block;
    grid-area: h;
    background-color: #3498db;
}

.header img {
    width: 100px;
    height: 61px;
}

.loginBlock {
    float: right;
}

.loginBlock a  {
    color: white;
}

