.header {
    display: block;
    grid-area: h;
    background-color: #3498db;
}

.header img {
    width: 100px;
    height: 61px;
}

.loginBlock {
    float: right;
}

.loginBlock a  {
    color: white;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color:  #7f7fff;
    margin-right: 10px;
    margin-top: 10px;
}