.nav {
    grid-area: n;
    background-color: darkslategray;
    padding: 20px;
}

.nav  a {
    color: white;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.item a.active {
    color: yellow;
}