
.descriptionBlock {
    padding: 10px;
}

.refreshPhoto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.loadingPhoto {
    height: 50px;
    margin-right: 10px;
}

.contact{
    padding-left: 10px;
}

.user {
    display: block;
    height: 180px;
    margin-bottom: 10px;
}